{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Register</title>
    <link rel="stylesheet" href="{% static 'css/authstyle.css' %}">
</head>

<body>
    <div class="container">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        <div class="tabs">
            <li>
                <div data-tab="forgot_password"><a href="{% url 'music:index' %}">Back to Home</a></div>
            </li>
        </div>
        ________________________________
        <h2>We Send An Email For You</h2>
        <p>check you`r email addres</p>
        _______________________________
        
        <script src="{% static 'js/authscript.js'%}"></script>
    </div>
</body>

</html>