{% extends 'music/base.html' %}
{% load static %}


{% block content %}
<main>
  <section class="hero">
    <h1>Dive into the World of Music</h1>
    <p>Discover new sounds and your favorite melodies.</p>
    <a href="{% url 'music:albums' %}" class="btn btn-primary">Explore Albums</a>
  </section>

  <section class="featured-section">
    <h2>Recent Albums</h2>
    <div class="album-grid">
      <!-- Featured Albums will be dynamically loaded or listed here -->
      {% for singer in singers %}
      <div class="album-item">
        <img src="{{singer.image.url}}" alt="Album Cover">
        <h3>{{singer.name}}</h3>
        <p>Style : {{singer.category}}</p>
        <a href="{% url 'music:singer' slug=singer.slug %}" class="btn btn-secondary">View Album</a>
      </div>
      {% endfor %}
    </div>
  </section>

  <!-- Category Section -->
  <section class="category-section">
    <h2>Explore by Category</h2>
    <div class="category-grid">
    {% for category in categories %}
      <a href="{% url 'music:category' slug=category.slug %}" class="category-item-wrapper" data-animation="fadeInUp">
        <div class="category-item">
          <div class="category-image-container">
            <img src="{{category.image.url}}" alt="Electronic Music">
          </div>
          <div class="category-text">
            <h3>{{category.name}}</h3>
          </div>
        </div>
      </a>
    {% endfor %}
    </div>
  </section>
  <!-- Add more sections like New Releases, Popular Songs etc. -->
</main>

{% endblock %}