{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay"
    style="background-image: url('{% static 'img/bg-img/breadcumb.jpg' %}');">
    <div class="bradcumbContent">
        <p>See music by {{singer.name}}</p>
        <h2>Musics</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### Add Area Start ##### -->
<div class="add-area mb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
    </div>
</div>
<!-- ##### Add Area End ##### -->

<!-- ##### Song Area Start ##### -->
<div class="one-music-songs-area mb-70">
    <div class="container">
        <div class="row">

            <!-- Single Song Area -->
            <div class="col-12">
                {% for music in musics %}
                <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                    <div class="song-thumbnail">
                        <img src="{% static 'img/bg-img/s1.jpg' %}" alt="">
                    </div>
                    <div class="song-play-area">
                        <div class="song-name">
                            <p>{{music.title}}</p>
                        </div>
                        <audio preload="auto" controls>
                            <source src="{{music.audio.url}}">
                        </audio>
                    </div>
                </div>
                {% empty %}
                <h3> No music yet ...</h3>
                {% endfor %}
            </div>
        </div>
        <nav aria-label="...">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                <li class="page-item ">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                </li>
                {% endif %}

                <li class="page-item disabled">
                    <a class="page-link" href="{{ page_obj.number }}"><mark>{{page_obj.number}}</mark> <span class="sr-only">(current)</span></a>
                </li>

                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                </li>
                {% endif %}
                </span>
            </ul>
        </nav>
    </div>
</div>
</div>
<!-- ##### Song Area End ##### -->
{% endblock %}